class {{ Name }}({{ BaseClassName }}):

    """
    {{ Comments }}
    """

    {{ #Properties }}
    {{ Property.Name }}: {{ Property.PyType }}
    {{ /Properties }}

    def __init__(self, {{ ConstructorArguments }}):
        pass
