class {{ ClassName }}({{ BaseClassName }}):

    """
    {{ Comments }}
    """

    {{ #Properties }}
    {{ PropertyString }}
    {{ /Properties }}

    def __init__(self):
        pass

    {{ #Methods }}
    {{ MethodString }}
    {{ /Methods }}
